*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* configurações da nav bar geral */
/*  ou body */
.header{
  background-color: black;
  display: flex;

}

.cesta {
  width: 2%;
  height: 2%;
}
